// Basic Jade specification for rendering query forms
// Inherits from layout 
extend layout
// Then we produce a form that queries when
// the user hits Submit
block content
  p
    | When would you like to study?:
    form(method='get', action='/login')
      input(type='text', name='datepicker', id='datepicker')
      input(type='text', name='timepicker', id='timepicker')

      select(name='table')
           option(value='Couch') Couch
           option(value='Individual Desk') Individual Desk
           option(value='Group Table') Group Table
           option(value='Computer') Computer
           input(type='submit', id='submit', value='Search')