// Jade file to specify output of an actors list
// Inherits from layout
extend layout
block content
  p
    h1 On #{datepicker}, at #{timepicker}, we predict that spaces of type #{studySpace} will be... 
    //change action to go somewhere different
  form(method='get', action='/')
      input(type='submit', value='Return to Homepage')
  p
  h1 Was this recommendation helpful? 
   form(method='get', action='/feedback')
     input(type='submit', value='Yes')
  form(method='get', action='/')
     input(type='submit', value='No')
   form(method='get', action='/')
     input(type='submit', value='Skip')
 
